<div class="input-group mb-3 w-100" id="{{ name }}_root">
  <div class="input-group-prepend">
    <span class="input-group-text label-8" id="{{ name }}_lbl">{{ label }}</span>
  </div>
  <select name="{{ name }}" id="{{ name }}" {% if onchange %} onchange="{{ onchange }}" {% endif %} class="custom-select" aria-describedby="{{ name }}_lbl">
    {% if options %}
      {% for option in options %}
        {% set is_selected = '' %}
        {% if option.selected is defined and option.selected %}
          <!-- {{ option.selected|int }} -->
          {% if option.selected|string|int != 0 %}
            <!-- number -->
            {% if option.selected == selected %}
              {% set is_selected = 'selected' %}
            {% endif %}
          {% else %}
            <!-- not number -->
            {% set is_selected = 'selected' %}
          {% endif %}
        {% endif %}
        <option value="{{ option.value }}" {{ is_selected }}>{{ option.name }}</option>
      {% endfor %}
    {% else %}
      <option value="-1">???</option>
    {% endif %}
  </select>
</div>
