<div class="input-group mb-3 w-100" id="{{ name }}_root">
  <div class="input-group-prepend">
    <span class="input-group-text label-8" id="{{ name }}_lbl">{{ label }}</span>
  </div>
  <input type="{{ type }}" id="{{ name }}" name="{{ name }}"
  class="form-control {{ class }}"
  {% if attributes %} {{ attributes }} {% endif %}
  {% if default_value %} value="{{ default_value }}" {% endif %}
  {% if onchange %} onchange="{{ onchange }}" {% endif %}
  {% if onfocusout %} onfocusout="{{ onfocusout }}" {% endif %}
  placeholder="{{ placeholder }}" aria-describedby="{{ name }}_lbl">
</div>
