{% extends "base.html" %} {% block content %}
<div class="container my-5">
  <div class="row">
    <div class="col-sm bottom-spacer">
      <h2>Gathering</h2>
      <hr>
      <div class="w-100 pl-2 pr-4">
        <form method=post>
          <!-- Player Roll input -->
          <div class="input-group mb-3 w-100">
            <div class="input-group-prepend">
              <span class="input-group-text label" id="gathering_roll">Player Roll</span>
            </div>
            <input type="number" class="form-control" placeholder="0" name="gathering_roll" aria-label="gathering_roll" aria-describedby="gathering_roll">
          </div>

          <!-- Travel Method input -->
          <div class="input-group mb-3 w-100">
            <div class="input-group-prepend">
              <span class="input-group-text label" id="travel_method">Travel Method</span>
            </div>
            <select name="travel_method" class="custom-select" aria-describedby="travel_method">
              {% if travel_options %}
              {% for option in travel_options %}
              <option value="{{ option.value }}">{{ option.name }}</option>
              {% endfor %}
              {% else %}
              <option value="unknown">???</option>
              {% endif %}
            </select>
          </div>

          <!-- Terrain input -->
          <div class="input-group mb-3 w-100">
            <div class="input-group-prepend">
              <span class="input-group-text label" id="terrain_type">Terrain</span>
            </div>
            <select name="terrain_type" class="custom-select" aria-describedby="terrain_type">
              {% if terrain_options %}
              {% for option in terrain_options %}
              <option value="{{ option.value }}">{{ option.name }}</option>
              {% endfor %}
              {% else %}
              <option value="unknown">???</option>
              {% endif %}
            </select>
          </div>

          <input type="submit" class="btn btn-primary" value="Gather">
        </form>

        {% if gathering_result_class %}
        <!--<hr class="d-none d-md-block">-->
        <div class="mt-4">
          <h4 class="text-{{ gathering_result_class }}">Result</h4>
            {% if gathering_successful %}
              <p>Succesfully gathered {{ amount }} {{ ingredient.name }}</p>
              {% if remarks %}
              <p>{{ remarks }}</p>
              {% endif %}
            {% else %}
            <p>{{ msg }}</p>
            {% endif %}
        </div>
        {% endif %}
      </div>
    </div> <!-- column -->

    <div class="col-sm bottom-spacer">
      <h2>Identifying</h2>
      <hr>
      <div class="w-100 pl-2 pr-4">
        <p>WIP</p>
      </div>
    </div> <!-- column -->
  </div> <!-- row -->
</div> <!-- /container -->
{% endblock %}
