{% include "components/go_back.html" %}
<div class="row justify-content-center">
  <div class="col col-lg-5">
    <h2>{% if code_title %}{{ code_title }}{% else %}Sliding puzzle{% endif %}</h2>
    <small class="text-muted">So very much!</small>
  </div>
  <div class="col col-lg-1">
    <a id="reset" href="" class="button bi-arrow-counterclockwise"><span class="pl-1">Reset</span></a>
  </div>
</div>
<div class="row justify-content-center mt-5">
  <audio id="audio-player">
    <source src="{{url_for('static', filename='audio/huddersfield-rain.mp3')}}" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  <div id="sliding-puzzle-figure-container" class="col col-lg-6 flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <figure class="sliding-puzzle-figure">
          <ul class="sliding-puzzle">
            <li class="tile tile-1" value="1"></li>
            <li class="tile tile-2" value="2"></li>
            <li class="tile tile-3" value="3"></li>
            <li class="tile tile-4" value="4"></li>
            <li class="tile tile-5" value="5"></li>
            <li class="tile tile-6" value="6"></li>
            <li class="tile tile-7" value="7"></li>
            <li class="tile tile-8" value="8"></li>
            <li class="tile tile-9" value="9"></li>
          </ul>
          <figcaption class="invisible"><a id="shuffle">Shuffle</a> | <a id="solve">Solve</a>
          </figcaption>
        </figure>
      </div>
      <div class="flip-box-back">
        <img src="{{url_for('static', filename='img/surprise/sliding_puzzle/back.png')}}" class="img-fluid" alt="raccoonbabushka">
      </div>
    </div>
  </div>
</div>