<div class="row justify-content-center">
  <div class="col col-lg-6">
    <h2>Code</h2>
  </div>
</div>
<div class="row justify-content-center">
  <div id="sliding-puzzle-figure-container" class="col col-lg-6">
    <figure class="sliding-puzzle-figure">
      <ul class="sliding-puzzle">
        <li class="tile tile-1" value="1"></li>
        <li class="tile tile-2" value="2"></li>
        <!--<li class="tile tile-3" value="3"></li>-->
        <li class="tile tile-4" value="4"></li>
        <li class="tile tile-5" value="5"></li>
        <li class="tile tile-6" value="6"></li>
        <li class="tile tile-7" value="7"></li>
        <li class="tile tile-8" value="8"></li>
        <li class="tile tile-9" value="9"></li>
      </ul>
      <figcaption class="visible">A Sliding Puzzle | <a id="shuffle">Shuffle</a> | <a id="solve">Solve</a>
      </figcaption>
    </figure>
  </div>
</div>