{% extends "base.html" %} {% block base_content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-sm-6 ">
      <h3 class="font-weight-bold">Surprise code</h3>
    </div>
  </div>
  <form method=post>
    <div class="form-group row justify-content-center">
      <label for="inputCode" class="col-sm-1 col-form-label font-weight-bold">Code</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="inputCode" name="input_code" aria-label="input_code" aria-describedby="input_code" placeholder="Enter code" autocomplete="off">
        <small id="input_code" class="form-text text-muted">Enter the code you found.</small>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
  {% if unlocked_codes %}
  <div class="row mt-5 justify-content-center">
    <div class="col-sm-6 ">
      <h3 class="font-weight-bold">Unlocked codes</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6">
      {% for unlocked_code in unlocked_codes %}
      <a href="{{ url_for('surprise_code', code=unlocked_code) }}" class="ml-4 h5"><span class="surprise-code">{{ unlocked_code }}</span></a>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
<!-- /container -->
{% endblock %}
