<div class="table-responsive">
  <table class="table table-bordered mt-4">
    <thead class="thead-dark">
      <tr>
        {% for day in calendar.days %}
          <th class="text-center schedule-column">{{ day }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for day in calendar.days %}
        <td>
          <div>
            <p class="lead text-center">{{ calendar.dates[loop.index-1] }}</p>
          </div>
          <div>
            <h6>Events</h6>
            <p>
              {% if calendar.events[loop.index-1] %}
                {{ calendar.events[loop.index-1] | join(", ") }}
              {% else %}
                None
              {% endif %}
            </p>
          </div>
          <div>
            <h6>Celestial Events</h6>
            <p>
              {% if calendar.celestial[loop.index-1] %}
                {{ calendar.celestial[loop.index-1] | join(", ") }}
              {% else %}
                None
              {% endif %}
            </p>
          </div>
          <div>
            <h6>Weather</h6>
            <p>
              {% if calendar.weather.tags[loop.index-1] %}
                {{ calendar.weather.tags[loop.index-1] | join(", ") }}
              {% else %}
                None
              {% endif %}
            </p>
            {% if calendar.weather.descriptions[loop.index-1] %}
              <ul>
                {% for description in calendar.weather.descriptions[loop.index-1] %}
                  <li>{{ description }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </td>
      {% endfor %}
    </tbody>
  </table>
</div>
